SECRET_TOKEN=replaceme

MONGO_INITDB_DATABASE=cornbread
MONGO_INITDB_ROOT_PASSWORD=cornbread
MONGO_INITDB_ROOT_USERNAME=cornbread

WORKER_PROCESSES=1
LISTEN_ON=0.0.0.0:8010
DATABASE_URL=mongodb://cornbread:cornbread@localhost:27017/cornbread
CACHE_URL=redis://redis:6379/0
JOB_WORKER_URL=redis://redis:6379/0

# scraper
USER_AGENT=""
BUCKLER_ID=
BUCKLER_R_ID=
BUCKLER_PRAISE_DATE=
